@import url('https://fonts.googleapis.com/css?family=Merienda|Playfair+Display|Roboto+Condensed&display=swap');

.nav{
  padding: 2rem;
  color:white;
  position: sticky;
  top: 0;
}

.nav a{
  font-family: 'Roboto Condensed';
  font-size: 1.2rem;
}

.right{
  display: flex;
  justify-content: flex-end;
}

.right > *{
  color:white;
  text-decoration: none;
  margin-left: 1.5rem;
}

@media screen and (min-width: 1100px){

  .nav a{
    letter-spacing: .2rem;
  }
}
